a.btn-github{
  display: inline-flex;
  position: relative;
  z-index: 5;
  align-items: center;
  margin: $gutter-l auto 0 auto;
  padding: $gutter-s $gutter $gutter-s $gutter-s;
  background-color: #F6F6F6;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  color: #444;
  box-shadow: #444 1px 1px 12px -2px;
  transition: transform .2s, box-shadow .2s;

  &:hover{
    box-shadow: #444 1px 1px 10px -3px;
    transform: scale(0.98);
  }

  img{
    width: 30px;
    opacity: 0.7;
  }

  span{
    margin-left: $gutter-m;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
}